@charset "UTF-8";
/* CSS Document */
/* ********  Drawer ******/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* text-align: center; */
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
}

/*-----------ここからハンバーガーメニューの記述----------------*/
/* ********  Drawer ******/

label {
    position: fixed;
    top: 20px;
    right: 10vw;
    width: 40px;
    height: 40px;
    display: block;
    background: #777;
    border-radius: 5px;
    z-index: 100;
}

label span {
    width: 60%;
    height: 4px;
    display: block;
    position: absolute;
    left: 20%;    
    background-color: #fff;
    border-radius: 5px;
    /*ハンバーガーメニュー変化アニメーション*/
    transition: all 0.2s linear;
}

label span:nth-of-type(1) {
    top: 10px;
    transform: rotate(0);
}

label span:nth-of-type(2) {
    top: 18px;
    transform: scale(1);
}

label span:nth-of-type(3) {
    bottom: 10px;
    transform: rotate(0);
}

#open:checked+label span:nth-of-type(1) {
    top: 18px;
    transform: rotate(-45deg);
}

#open:checked+label span:nth-of-type(2) {
    transform: scale(0);
}

#open:checked+label span:nth-of-type(3) {
    bottom: 18px;
    transform: rotate(45deg);
}


#drawerMenu {
    text-align: center;
    position: fixed;
    top: 0px;
    right: -240px;
    overflow: hidden;
    width: 200px;
    height: 100%;
    padding: 20px;
    transition: left.5s, right.5s;
    background-color: #90EE90;
    z-index: 10;

    & ul {
        margin: 0;
        padding-top: 60px;
        padding-left: 0;

        li {
            list-style: none;
            padding: 10px;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

.toggle {
    font-size: 30px;
    cursor: pointer;
}

.toggle:hover {
    text-decoration: underline;
}

#open {
    display: none;
}

#open:checked~#drawerMenu {
    right: 0;
}

/* ********  Drawer end ******/


/*-----------ここからハンバーガーメニューの記述----------------*/